.register_form_body{
    background-color: #969090;
    font-family: Arial, sans-serif;
}
.sign_up{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white; 
    margin: 40px;
    padding: 10px;
    text-decoration: double;
}

.submit_button{
    padding: 10px;
    margin-top: 10px;
}

.login{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white; 
    margin: 40px;
    padding: 10px;
    text-decoration: double;
}