{% extends 'home_folder/base.html' %} {% load static %}
<div>
    {% block content %}

    <form action="" method="post" id="create_form">
        {% csrf_token %} {{ form }}
        <div>
            <button type="submit" id="submit_create">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
<div>
    {% block list %}
    <div>

        <form action="" method="get" id="search_form">
            <label for="search_query">Search by Name:</label>
        <input type="text" name="q" id="search_query" placeholder="Enter dish name">
        <button type="submit">Search</button>
        </form>
        {% if request.GET.q %}
        <h2 class="search-header">Search Results for "{{ request.GET.q }}"</h2>
        <div class="item-card">
            {% for dish in dishes %}
              <div class="dish-card">
                <img src="{{ dish.image }}" alt="image" class="dish-image">
                <div class="card-content">
                  <h2 class="dish-name">{{ dish.name }}</h2>
                  <p class="dish-description">{{ dish.description }}</p>
                  <p class="dish-price"><span class="price-tag">$</span>{{ dish.price }}</p>
                  <div class="button-container">
                    <a class="image-button" href="{%url 'menu:updateDish' dish.id%}">Update</a>
                    <a class="delete-button" method="post" href="{%url 'menu:deleteDish' dish.id %}">Delete</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          
        {% endif %}
    </div>
        {% endblock %}
</div>