{%load static%}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Register | Upzet - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets2/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets2/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets2/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="bg-pattern">
        <div class="bg-overlay"></div>
        <div class="account-pages my-5 pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-8">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <a href="index.html" class="">
                                        <img src="{% static 'assets2/images/logo-dark.png'%}" alt="" height="24" class="auth-logo logo-dark mx-auto">
                                        <img src="{% static 'assets2/images/logo-light.png'%}" alt="" height="24" class="auth-logo logo-light mx-auto">
                                    </a>
                                </div>
                                
                                <h4 class="font-size-18 text-muted text-center mt-2">Register for Dashboard</h4>
                                <form class="form-horizontal" method='post'>
                                    {%csrf_token%}
                                    {{form.as_p}}
                                    <button type='submit'>Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white-50">Already have account ?<a href="{%url 'admin_login'%}" class="fw-medium text-primary"> Login </a> </p>
                            <p class="text-white-50">© <script>document.write(new Date().getFullYear())</script> Upzet. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end Account pages -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets2/libs/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'assets2/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets2/libs/metismenu/metisMenu.min.js'%}"></script>
        <script src="{% static 'assets2/libs/simplebar/simplebar.min.js'%}"></script>
        <script src="{% static 'assets2/libs/node-waves/waves.min.js'%}"></script>

        <script src="{% static 'assets2/js/app.js'%}"></script>

    </body>
</html>
