{%extends 'home_folder/base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    {% block content %}
    <div class="container-fluid py-5">
        <!-- Tables Section -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 class="fw-bold mb-4">Write for us:</h3>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                    numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                    quisquam eum porro a pariatur veniam.
                </p>
            </div>
        </div>
        <div class="row container-fluid" style="margin-left:22em;">
            <div class="col-md-6">
                <h2 class="mb-4">Write The Blog</h2>
                <div class= "form-group">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.media}}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="blog-posts">
            <div class="container-fluid py-5">
                <!-- Tables Section -->
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 col-xl-8 text-center">
                        <h3 class="fw-bold mb-4">Your writings:</h3>
                        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                            numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                            quisquam eum porro a pariatur veniam.
                        </p>
                    </div>
                </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-md-6 col-lg-4">
                    <div class="blog-card">
                        <div class="blog-thumb">
                            <a href="#">
                                <img src="{{ blog.header_image }}" alt="{{ blog.title }}">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#"><i class="fas fa-user"></i>{{ blog.writer_name }}</a></li>
                                    <li><a href="#"><i class="fas fa-calendar-alt"></i>{{ blog.date }}</a></li>
                                </ul>
                            </div>
                            <h3 class="blog-title"><a href="#">{{ blog.title }}</a></h3>
                            <p>{{ blog.description }}</p>
                            <p>Blog Approval Status:{{ blog.is_approved}}</p>
                            
                            <a class="btn circle btn-theme border btn-md" href="#">Read More</a>
                            <a href="{%url 'blog_update' blog.id%}">Update</a>
                            <a href="{%url 'blog_delete' blog.id%}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>