{%extends 'home_folder/dashboard_base.html'%} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard | Upzet - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- jvectormap -->
    <link
      href="{% static 'assets2/libs/jqvmap/jqvmap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Bootstrap Css -->
    <link
      href="{% static 'assets2/css/bootstrap.min.css'%}"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link
      href="{% static 'assets2/css/icons.min.css'%}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App Css-->
    <link
      href="{% static 'assets2/css/app.min.css'%}"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  {%block content%}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Latest Transaction</h4>

          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead>
                <tr>
                  <th scope="col" style="width: 60px"></th>
                  <th scope="col">ID & Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Dish</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                {%for order in all_orders%}
                <tr>
                  <td>
                    {% if order.is_accepted %}
                    <i class="mdi mdi-check-circle text-success"></i> {# Render a tick icon #}
                    {% else %}
                    <i class="mdi mdi-close-circle text-danger"></i> {# Render a cross icon #}
                    {% endif %}
                  </td>
                  <td style="display: flex">
                    <p class="mb-1 font-size-12" style="margin-right: 3px">
                      {{order.id}}
                    </p>
                    <h5 class="font-size-15 mb-0">{{order.user.username}}</h5>
                  </td>
                  <td>{{order.date_added}}</td>
                  <td>{{order.dish.price}}</td>
                  <td>{{order.quantity}}</td>

                  <td>{{order.total_amount}}</td>
                  <td>
                    <i
                      class="mdi mdi-checkbox-blank-circle text-success me-1"
                    ></i>
                    {{order.dish.name}}
                  </td>
                  <td>
                    <!-- Button trigger modal -->
                    <a href="#modal-{{order.id}}"
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-{{order.id}}"
                    >
                      Choose
                    </a>

                    <!-- Modal -->
                    <div
                      id="modal-{{order.id}}"                    
                      class="modal fade"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Modal title
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="{%url 'messageUpdate' order.id%}" class="form-group">
                                {%csrf_token%}
                                {{form.as_p}}
                                <button action="submit" class="btn btn-primary">
                                    Send Rejection Message
                                  </button>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        <script>
          $(function () {
            $("#modal").modal({
              show: true,
              backdrop: "static",
            });
            //now on button click
            $("#modal").modal("show");
          });
        </script>
        {%endblock%}
      </div>
    </div>
  </div>
</html>
