{%load static%}
{%load tailwind_tags%}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        
        <!-- jvectormap -->
        <link href="{% static 'assets2/libs/jqvmap/jqvmap.min.css' %}" rel="stylesheet" />

        <!-- Bootstrap Css -->
        <link href="{% static 'assets2/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets2/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets2/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
        {%tailwind_css%}
    </head>

    <body data-sidebar="dark">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
        <!-- Begin page -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box text-center">
                            <a href="{%url 'index'%}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{%static '/assets/img/logo-light.png'%}" alt="logo-sm-dark" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{%static '/assets/img/logo-light.png'%}" alt="logo-dark" height="24">
                                </span>
                            </a>

                            <a href={%url 'index'%} class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{%static '/assets/img/logo-light.png'%}" alt="logo-sm-light" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{%static '/assets/img/logo-light.png'%}" alt="logo-light" height="24">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button>

                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-search-line"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                    
                                <form class="p-3">
                                    <div class="mb-3 m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div style="display:flex; align-items:middle;">
                            <a href="{%url 'index'%}" class="btn header-item noti-icon waves-effect ">
                                <p class="flex" style="margin-top:1.3em;">Go To Home</p>
                            </a>
                        </div>

                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-apps-2-line"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                                <div class="px-lg-2">
                                    <div class="row g-0">
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{% static 'assets2/images/brands/github.png' %}" alt="Github">
                                                <span>GitHub</span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{% static 'assets2/images/brands/bitbucket.png'%}" alt="bitbucket">
                                                <span>Bitbucket</span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{% static 'assets2/images/brands/dribbble.png' %}" alt="dribbble">
                                                <span>Dribbble</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row g-0">
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{% static 'assets2/images/brands/dropbox.png'%}" alt="dropbox">
                                                <span>Dropbox</span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{% static 'assets2/images/brands/mail_chimp.png'%}" alt="mail_chimp">
                                                <span>Mail Chimp</span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{% static 'assets2/images/brands/slack.png' %}" alt="slack">
                                                <span>Slack</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="ri-fullscreen-line"></i>
                            </button>
                        </div>

                        <div class="dropdown d-inline-block user-dropdown">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-xl-inline-block ms-1">{{user}}</span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="ri-user-line align-middle me-1"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>

                            <li>
                                <a href="{%url 'dashboard'%}" class="waves-effect">
                                    <i class="mdi mdi-home-variant-outline"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            
                            <li class="menu-title">Pages</li>
                            <li>
                            <li>
                                <a href="{%url 'cartitems_dashboard'%}" class="waves-effect">
                                    <i class="mdi mdi-home-variant-outline"></i>
                                    <span>CartItems</span>
                                </a>
                            </li>
                            <li>
                                <a href="{%url 'review_dashboard'%}" class="waves-effect">
                                    <i class="mdi mdi-home-variant-outline"></i>
                                    <span>Reviews</span>
                                </a>
                            </li>
                            <li>
                                <a href="{%url 'blog_dashboard'%}" class="waves-effect">
                                    <i class="mdi mdi-home-variant-outline"></i>
                                    <span>Blogs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                       {%block content%}

                       {%endblock%}
                

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets2/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets2/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets2/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets2/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets2/libs/node-waves/waves.min.js' %}"></script>

        <!-- apexcharts js -->
        <script src="{% static 'assets2/libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- jquery.vectormap map -->
        <script src="{% static 'assets2/libs/jqvmap/jquery.vmap.min.js' %}"></script>
        <script src="{% static 'assets2/libs/jqvmap/maps/jquery.vmap.usa.js' %}"></script>

        <script src="{% static 'assets2/js/pages/dashboard.init.js' %}"></script>
        <script>
            $(document).ready(function() {
                $("#MyModal").modal();
              });
        </script>

        <script src="{% static 'assets2/js/app.js' %}"></script>

    </body>
</html>
