<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employee</title>
</head>
<body>
    <h1>Delete Dish</h1>
    <form action="" method="post">
        {%csrf_token%}
        <p>Are you sure about deleting the item?</p>
        <input type="submit" value="Confirm">
    </form>
    <a href="{%url 'index'%}">Go to home.</a>
    <a href="{%url 'menu:menu'%}">Go to menu</a>
    <a href="{%url 'menu:createDish'%}">Go to Create Dish </a>
</body>
</html>
