{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rescaf - Food & Restauratn Template">

    <!-- ========== Page Title ========== -->
    <title>Rescaf - Food & Restaurant Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.png' %}" type="image/x-icon">
       {% comment %} <link href="{% static '/assets/css/style.css'%}" rel="stylesheet" /> {% endcomment %}
    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
     <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
   <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
     <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
   <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
     <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
     <link href="{% static 'assets/css/new.css' %}" rel="stylesheet" />
     <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" />

    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static '/assets/js/html5/html5shiv.min.js' %}"></script>
      <script src="{% static '/assets/js/html5/resp.ond.min.js' %}"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet"> {% endcomment %}
</head>


<body>

    {% comment %} <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends --> {% endcomment %}

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed navbar-transparent dark bootsnav shadow-less">

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>        
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{%url 'index'%}">
                        <img src="{%static '/assets/img/logo-light.png'%}" class="logo logo-display" alt="Logo">
                        <img src="{% static '/assets/img/logo.png'%}" class="logo logo-scrolled" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li><a href="{%url 'reservation'%}">Reservation</a></li>
                        <li class="dropdown">
                            <a href="{%url 'menu:menuList'%}" >Menu</a>
                        </li>  
                        <li class="dropdown">
                            <a href="{%url 'review'%}">Leave A Review</a>
                        </li>
                        <li class="dropdown">
                            <a href="{%url 'blog'%}">Write for Us</a>
                        </li>
                        <li class="dropdown">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}}</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% if user.is_authenticated %}
                                    <li>
                                        <form action="{% url 'logout' %}" method="post" style="margin: 0; padding: 0; background: transparent; border: none;">
                                            {% csrf_token %}
                                            <button type="submit" class="logout-button">LOGOUT</button>
                                        </form>
                                    </li>
                                    {% endif %}
                                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                                </ul>
                                
                            </li>
                            <li class="dropdown">
                                <a href="{%url 'menu:view_cart'%}" class="cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                  </svg></a>
                            </li>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="widget">
                    <h4 class="title">About Us</h4>
                    <p>
                        Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                    </p>
                </div>
                <div class="widget opening-hours">
                    <h4 class="title">Openig Hours</h4>
                    <ul>
                        <li> 
                            <span> Mon - Tues :  </span>
                            <div class="pull-right"> 6.00 am - 10.00 pm </div>
                        </li>
                        <li> 
                            <span> Wednes - Thurs :</span>
                            <div class="pull-right"> 8.00 am - 6.00 pm </div>
                        </li>
                        <li> 
                            <span> Launch :</span>
                            <div class="pull-right"> Everyday </div>
                        </li>
                        <li> 
                            <span> Sun : </span>
                            <div class="pull-right closed"> Closed </div>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <h4 class="title">Our Menus</h4>
                    <ul>
                        <li><a href="#">Chees croissants</a></li>
                        <li><a href="#">Bruschetti</a></li>
                        <li><a href="#">Awesome Vegetables</a></li>
                        <li><a href="#">Tasty Snacks</a></li>
                        <li><a href="#">Meal for whole family</a></li>
                    </ul>
                </div>
                <div class="widget social">
                    <h4 class="title">Connect With Us</h4>
                    <ul class="link">
                        <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Side Menu -->

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area responsive-auto-height ds-fonts text-light video-bg-live bg-fixed">
        <div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=hoiGV-N-2Gs',containment:'.video-bg-live', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:5, opacity:1, quality:'default'}"></div>
        <div id="bootcarousel" class="carousel transparent-nav slide carousel-fade animate_text" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner shadow dark">
                <div class="item active">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h2 data-animation="animated fadeInUp">Buffet</h2>
                                            <h1 data-animation="animated slideInLeft">Official Packages</h1>
                                            <div class="lists" data-animation="animated slideInUp">
                                                <ul>
                                                    <li>
                                                        <i class="flaticon-hamburger"></i> 40 Food
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-champagne-glass"></i> 19 Drinks
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-coffee-cup"></i> 28 Soup
                                                    </li>
                                                </ul>
                                            </div>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="{%url 'menu:menuList'%}">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h2 data-animation="animated fadeInUp">Buffet</h2>
                                            <h1 data-animation="animated slideInLeft">Student Packages</h1>
                                            <div class="lists" data-animation="animated slideInUp">
                                                <ul>
                                                    <li>
                                                        <i class="flaticon-hamburger"></i> 40 Food
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-champagne-glass"></i> 19 Drinks
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-coffee-cup"></i> 28 Soup
                                                    </li>
                                                </ul>
                                            </div>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="#">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h2 data-animation="animated fadeInUp">Buffet</h2>
                                            <h1 data-animation="animated slideInLeft">Family Packages</h1>
                                            <div class="lists" data-animation="animated slideInUp">
                                                <ul>
                                                    <li>
                                                        <i class="flaticon-hamburger"></i> 40 Food
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-champagne-glass"></i> 19 Drinks
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-coffee-cup"></i> 28 Soup
                                                    </li>
                                                </ul>
                                            </div>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="#">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#bootcarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bootcarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Shape -->
        <div class="wavesshape">
            <img src="{% static '/assets/img/shape.png'%}" alt="Shape">
        </div>
        <!-- Shape -->
    </div>
    <!-- End Banner -->

    <!-- Start About
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-items">
                    <div class="col-md-7 info">
                        <h3>Our Story</h3>
                        <h2>Until I discovered cooking I was never<br> really interested in anything</h2>
                        <p>
                            Pleased anxious or as in by viewing forbade minutes prevent. Too leave had those get being led weeks blind. Had men rose from down lady able. Its son him ferrars proceed six parlors.
                        </p>
                        <p>
                           Advanced diverted domestic sex repeated bringing you old. Possible procured her trifling laughter thoughts property she met way. Companions shy had solicitude favourable own. Which could saw guest man now heard but. Lasted my coming uneasy marked so should. Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket.
                        </p>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="info">
                                    <h4>Phone</h4>
                                    <span>+123 456 7890</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope-open"></i>
                                </div>
                                <div class="info">
                                    <h4>Eamil</h4>
                                    <span>support@restcafe.com</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Start Form -->
                    <div class="col-md-5 form">
                        <div class="form-box">
                            <div class="icon">
                                <i class="fas fa-utensils"></i>
                            </div>
                            <h3>Book a table</h3>
                            <p>"Check reservation for Table description"<p>
                            <form action="" method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.customer_email.id_for_label }}">Email</label>
                                    {{ form.customer_email }}
                                </div>
                                <div class="form_third">
                                <div class="form-group">
                                    <label for="{{ form.numberOfPeople.id_for_label }}">People:</label>
                                    {{ form.numberOfPeople }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.table.id_for_label }}">Table:</label>
                                    {{ form.table }}
                                </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Services
    ============================================= -->
    <div class="services-area item-bg bg-gray">
        <div class="container-full">
            <div class="row">
                <div class="services-items services-carousel owl-carousel owl-theme text-center text-light">
                    <!-- Single Item -->
                    <div class="item bg-cover" style="background-image: url('{% static '/assets/img/800x600.png' %}');">
                        <div class="box">
                            <i class="flaticon-dinner-table"></i>
                            <h4>Fine Dining</h4>
                            <p>
                                Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item bg-cover" style="background-image: url(/assets/img/800x600.png);">
                        <div class="box">
                            <i class="flaticon-champagne-glass"></i>
                            <h4>Party and Event</h4>
                            <p>
                                Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item bg-cover" style="background-image: url(assets/img/800x600.png);">
                        <div class="box">
                            <i class="flaticon-buffet"></i>
                            <h4>Buffet</h4>
                            <p>
                                Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item bg-cover" style="background-image: url(assets/img/800x600.png);">
                        <div class="box">
                            <i class="flaticon-moving-truck"></i>
                            <h4>Home Delivery</h4>
                            <p>
                                Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start Food Menu
    ============================================= -->
    <div class="food-menu-area inc-isotop default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h3>Discorver</h3>
                        <h2>Our Menu</h2>
                        <p>
                            While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                        </p>
                    </div>
                </div>
            </div>
            <div class="menu-body">
                {%block content%}
                <div class="menuList">
                    {%for dish in dishes%}
                    <div class="dish-item">
                        <h3 class="dish-name">{{dish.name}}</h3>
                        <h3 class="dish-price">{{dish.price}}</h3>
                        <h3 class="dish-description">{{dish.description}}</h3>
                        <img src="{{dish.image}}" alt=Image id="dish-image">
                        <form action="{%url 'menu:addtoCart' dish.id%}" method="post" id="submit-form-cart">
                            {% csrf_token %}
                            <button type="submit" id="add-to-cart-btn"> Add to Cart</button>
                        </form>
                    </div>
                    {%endfor%}
                </div>
                </div>
                {%endblock%}
            </div>
    <!-- Start Offer
    ============================================= -->
    <div class="offer-area">
        <div class="container-full">
            <div class="row">
                <div class="offer-items offer-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/2440x1578.png);">
                            <div class="price">
                                <h4>Price <span>$63</span></h4>
                            </div>
                        </div>
                        <div class="col-md-6 info">
                            <h3>Special Offer</h3>
                            <h2>Famirly Party</h2>
                            <span>Fried Chicken / Gordita Crunch / Pizza / Burger</span>
                            <p>
                                Frankness applauded by supported ye household. Collected favourite now for for and rapturous repulsive consulted. An seems green be wrote again. She add what own only like. Tolerably we as extremity exquisite do commanded. Doubtful offended do entrance of landlord moreover is mistress in. Nay was appear entire ladies. Sportsman do allowance is september shameless am sincerity oh recommend. Gate tell man day that who. 
                            </p>
                            <a class="btn btn-dark border btn-md" href="#">Book a table</a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/2440x1578.png);">
                            <div class="price">
                                <h4>Price <span>$78</span></h4>
                            </div>
                        </div>
                        <div class="col-md-6 info">
                            <h3>Special Offer</h3>
                            <h2>Birthday Party</h2>
                            <span>Fried Chicken / Gordita Crunch / Pizza / Burger</span>
                            <p>
                                Frankness applauded by supported ye household. Collected favourite now for for and rapturous repulsive consulted. An seems green be wrote again. She add what own only like. Tolerably we as extremity exquisite do commanded. Doubtful offended do entrance of landlord moreover is mistress in. Nay was appear entire ladies. Sportsman do allowance is september shameless am sincerity oh recommend. Gate tell man day that who. 
                            </p>
                            <a class="btn btn-dark border btn-md" href="#">Book a table</a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Offer -->

    <!-- Start Chef Area 
    ============================================= -->
    <div class="chef-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h3>Chefs</h3>
                        <h2>Meet our experts</h2>
                        <p>
                            While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chef-items">
                    <!-- Single Item -->
                    {%for chef in chefs%}
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{{chef.image}}" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="overlay">
                                    <h4>{{chef.name}}</h4>
                                    <span>{{chef.position}}</span>
                                </div>
                                <div class="content">
                                    <p>
                                        {{chef.description}}
                                    </p>
                                    <ul>
                                        <li class="facebook">
                                            <a href="{{chef.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="{{chef.twitter}}"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="{{chef.pinterest}}"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="{{chef.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Chef Area -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area bg-gray carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h3>Reviews</h3>
                        <h2>Testimonials</h2>
                        <p>
                            While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                {% for review in reviews %}
                <div class="testimonial-card">
                    <div class="testimonial-content">
                        <h4>{{ review.dish.name }}</h4>
                        <p>{{ review.description }}</p>
                    </div>
                    <div class="testimonial-author">
                        <div class="author-info">
                            <h5>{{ review.user }}</h5>
                            <div class="rating">
                                {% for i in "12345" %}
                                  {% if forloop.counter <= review.stars %}
                                    <span class="star-active">&#9733;</span>
                                  {% else %}
                                    <span class="star-inactive">&#9733;</span>
                                  {% endif %}
                                {% endfor %}
                              </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    <!-- End Testimonials -->

    <!-- Start Blog 
    ============================================= -->

    <div class="blog-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h3>Blog</h3>
                        <h2>Latest News</h2>
                        <p>
                            While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-items">
                    <!-- Left Blog -->
                    <div class="col-md-6 default">
                        <div class="single-item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'assets/img/800x600.png'%}" alt="Thumb">
                                </a>
                                <div class="meta">
                                    <div class="tags">
                                        <a href="#">Burget</a>
                                        <a href="#">Pizza</a>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-user"></i> Admin</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-calendar-alt"></i> 24 Aug, 2019</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h3>
                                    <a href="#">Possession so comparison inquietude he conviction </a>
                                </h3>
                                <p>
                                    Arranging furnished knowledge agreeable so. Fanny as smile up small. It vulgar chatty simple months turned oh at change of. Astonished set expression solicitude way admiration. 
                                </p>
                                <a class="btn circle btn-theme border btn-md" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Left Blog -->

                    <!-- Right Blog -->
                    <div class="blog-posts">
                        <div class="row">
                            {% for blog in blogs %}
                            <div class="col-md-6 col-lg-4">
                                <div class="blog-card">
                                    <div class="blog-thumb">
                                        <a href="#">
                                            <img src="{{ blog.header_image }}" alt="{{ blog.title }}">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <ul>
                                                <li><a href="#"><i class="fas fa-user"></i>{{ blog.writer }}</a></li>
                                                <li><a href="#"><i class="fas fa-calendar-alt"></i>{{ blog.date }}</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="blog-title"><a href="#">{{ blog.title }}</a></h3>
                                        <p>{{ blog.description }}</p>
                                        <a class="btn circle btn-theme border btn-md" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Right Blog -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/equal-height.min.js'%}"></script>
    {% comment %} <script src="{% static 'assets/js/jquery.appear.js' %}'%}"></script> {% endcomment %}
    <script src="{% static 'assets/js/jquery.easing.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js'%}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'assets/js/wow.min.js'%}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'assets/js/count-to.js'%}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'assets/js/YTPlayer.min.js'%}"></script>
    <script src="{% static 'assets/js/bootsnav.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>
</html>
