{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place your Order</title>
     <!-- ========== Favicon Icon ========== -->
     <link rel="shortcut icon" href="{% static '/assets/img/favicon.png' %}" type="image/x-icon">
     {% comment %} <link href="{% static '/assets/css/style.css'%}" rel="stylesheet" /> {% endcomment %}
  <!-- ========== Start Stylesheet ========== -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
   <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
   <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
   <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
</head>
<body>
    {% comment %} <form action="" method="post" autocomplete="off">
        {%csrf_token%}
        {{form}}
        <button type='submit'>Submit</button>
    </form> {% endcomment %}
    <div class="col-md-5 form">
        <div class="form-box">
            <div class="icon">
                <i class="fas fa-utensils"></i>
            </div>
            <h3>Write your order.</h3>
            <form action="" method="post" autocomplete="off">
                {%csrf_token%}
                {{form}}
                <button type='submit'>Submit</button>
                <a href="{%url 'list'%}">list</a>
            </form>
        </div>
    </div>
    <!-- End Form -->
</body>
</html>