{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'assets/css/new.css' %}">
  <link rel="stylesheet" href="{%static 'assets/css/register.css' %}">
</head>
<body class="register_form_body" >
  <p class="sign_up">Sign Up to Order or Book a Table</p>
  <div >

    <form action="" method="post">
      {%csrf_token%}
      {{form}}
      <button type="submit" class="submit_button">Submit</button>
    </form>
  </div>
  <p class="login">Already have an account?<a href="{%url 'login'%}" style="color: black; border: 2px solid white; padding: 3px; background-color: white; margin-left: 3px;">Login</a></p>
  </body>
</html>