{% extends 'home_folder/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div>
        <h3>Tables</h3>
        <div class="table-container">
            {% for table in tables %}
            <div class="table-card">
                <h1>Table {{ table.table_number }}</h1>
                <p>Price: ${{ table.table_price }}</p>
                <p>{{ table.table_description }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="reservation-container">
            <h2>Reservations here are made by: {{ user }}</h2>
            <h2>Your Reservations:</h2>
            {% for booking in bookings %}
            <div class="reservation-item">
                <p>Reservation For: {{ booking.name }}</p>
                <p>Table: {{ booking.table.table_number }}</p>
                <p>Date: {{ booking.dateOfBooking }}</p>
                <p>Party Size: {{ booking.numberOfPeople }}</p>
                <a href="{% url 'reservationUpdate' booking.id%}">Update</a>
                <a href="{%url 'reservationDelete' booking.id%}">Delete</a>
            </div>
            {% endfor %}
        </div>
        <div class="booking-form">
            <h2>Make a new Reservation:</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Book Now</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>